.container{width:1400px;
    background-image: url(Task62.png);
    background-size:100%;}
h1{text-align:center;
    color:#3170a8;
    font-family: "Trebuchet Mc", sans serif;
    font-variant:small-caps;
    font-size:40pt;}
#first{color:#ee8129;}
.Feed1,.Feed2,.contant1,.contant2{display:inline-block;}
.contant1,.contant2{width:350px;
    padding-top:20px;
    margin-left:20px;
    margin-right:40px;
    position:relative;
    background-color:white;
    border:1px solid;}
header{border-bottom:1px dashed;
    border-color:lightgrey;
    overflow:auto;}
.flleft{float:left;
    color:#3170a8;}
.flright{float:right;
    color:#3170a8;}
p{text-align:center;}

