.container{width:100%;
    margin:auto;}
ul{
    overflow:auto;
    background:blueviolet;
}
ul li {
    display:inline-block;
    float:left;
    padding-right:5px;
    padding-left:10px;
    font-family:impact;
    font-variant:small-caps;
    font-size:25pt;}
a{
    text-decoration:none;
    color:white;}
li.right { float: right; padding-right:80px;}
a:hover{background:lightgrey;
    color:grey;}
