div {
    display: inline-block;
    background: blueviolet;
    width:100%;
}
a {
    padding-left:40px;
    padding-right:40px;
    width:900px;
    color:white;
    font-family:impact, monospace;
    font-size: 30px;
    font-variant: small-caps;
    text-decoration:none;}
a:hover{background:#cccccc;
    color:darkgrey;}




